body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: lightblue;
}

a {
  color: #00B7FF;
}

.colorOption {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: solid 5px black;
  border-radius: 10px;
  margin: 5px;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}

#green{
  background-color: green;
}

#purple {
  background-color: purple;
}

#black {
  background-color: black;
}

#white {
  background-color: white;
}

#other {
  background: url("rainbowcolors.gif");
}

